/*Body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

/*Mainpage/forside */
.mainHeader {
    color: #fff;
    padding: 1em;
    text-align: center;
    background-color: #8EB4E3;
}
.logo img {
    height: 110px; 
    width: auto; 
}

/*Team  */
.container{
    margin: 0 auto; /*Center the container*/
    width: 50%;
}
.team-container {
    display: flex;
    margin: 0 auto; /*Center the container*/
    width: 50%;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
    gap: 10px;
}
.team-container img {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
}

/*Contact*/
.contact-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap: 10px;
}



/*Subpage*/
.subpage-logo-and-title img {
    height: 55px;
    width: auto;
    padding: 10px;
}
.subpage-logo-and-title a {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.subpage-nav {
    display: flex;
    align-items: center;    
}
.subpage-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
/*Subpages header*/
.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #8EB4E3;
    
}
.Padme-titel {
    font-weight: bold;
    font-size: 1em;
}
.Steno-titel {
    font-weight: bold;
    font-size: 0.7em;
}



/*Navigation bar*/
.main-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav-links a {
    color: white; /* Set the desired color */
    text-decoration: none; /* Remove underline */
    padding: 10px;
}

/*Dropdown menu*/
.dropdown-container {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: #575757;
}

.dropdown-container:hover > .dropdown {
    display: block;
}

.dropdown-container .dropdown {
    top: 150%;
    left: 0;
}

.dropdown-container .dropdown .dropdown {
    top: 0;
    left: 100%;
}

/*Projects*/
.project-contact {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
}

/*Footer*/
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}